<div id="<%= dom_id rocket %>">
  <p>
    <strong>Name:</strong>
    <%= rocket.name %>
  </p>

  <p>
    <strong>Fuel:</strong>
    <%= rocket.fuel %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= rocket.country %>
  </p>

  <p>
    <strong>activity:</strong>
    <%= rocket.activity %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= link_to rocket.category.name, rocket.category %>
  </p>

  <p>
    <strong>url:</strong>
    <%= rocket.img_url %>
  </p>
</div>
