<div id="<%= dom_id rocket %>">
  <p>
    <strong>Name:</strong>
    <%= rocket.name %>
  </p>

  <p>
    <strong>Fuel:</strong>
    <%= rocket.fuel %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= rocket.country %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= rocket.activity %>
  </p>

</div>
