
<div class='mt-5'>
  <p style="color: green"><%= notice %></p>

    <%= render @rocket %>

    <div class='d-flex flex-column'>
      <div class='d-flex  justify-content-center'>
        <div class='m-2'>
          <%= link_to "Editar esta nave", edit_rocket_path(@rocket), class: "btn btn-info text-white " %> 
        </div>
        <div class='m-2'>
          <%= link_to "Ver todas las naves", rockets_path, class: "btn btn-info text-white" %>
        </div>
      </div>

      <div class='d-flex  justify-content-center mt-2'>
        <%= button_to "Destruir esta nave", @rocket, method: :delete, class: "btn btn-info text-white " %>
      </div>
    </div>
</div>
