<div id="<%= dom_id category %>" class='text-white d-flex flex-column mt-5'>
  <h1 class="text-center m-5">
    <strong>Categoria:</strong>
    <%= category.name %>
  </h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% category.rockets.each do |rocket|%>
          <div class="col">
            <div class="card h-100">
              <img src="<%= rocket.img_url %>" class="card-img" alt="Nave" style="height: 250px">
              <div class="card-body">
                <h5 class="card-title text-dark text-uppercase"><%= rocket.name %></h5>
                <%= link_to "View Rocket", rocket, class: "text-decoration-none text-dark"  %>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated <%= rocket.updated_at %> </small>
              </div>
            </div>
          </div>
        <% end %>
  </div>

</div>

